@import url(../../index.css);

.bools-container {
    display: flex;    
    gap: .5rem;
    flex-wrap: wrap;
}

.astro-img-container {
    position: relative;
}

.astro-img-container > span {
    display: none;
}

.button {
    background-color: var(--color-black-30);
    border: none;
    color: var(--primary-text-color);
    font-weight: 600;
    text-transform: capitalize;
    font-size: var(--font-size-xs);
    padding: 1rem 1rem;
    border-radius: 10px;  
}

.button:hover {
    background-color: var(--color-black-50);
}

.astronaut-img {
    display: none;
}

.rover-img {
    display: none;
}

/* @media (min-width: 425px) {} */

/* sm */
@media (min-width: 640px) {
    .button {
        font-size: var(--font-size-sm);
    }   
}

/* md */
@media (min-width: 768px) {
    .rover-img {
        display: block;
        position: absolute;
        height: auto;        
        left: -20px;   
        bottom: 0;
        transform: scale(1.5);
        transform-origin: bottom left;
        z-index: -1;
    }
    .astro-img-container > span {
        display: block;
        position: absolute;
        top: 30%;
        right: 0;
        transform: rotate(-45deg);
        cursor: default;
    }
    .astronaut-img {
        display: block;
        max-height: 300px;
        width: auto;
        cursor: pointer;
    }
    .suit-btn {
        display: none;
    }
    .bools-container {   
        flex-direction: column; 
        justify-content: center;
        justify-content: space-between;
    }
    .button {
        font-size: var(--font-size-base);
    }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
@media (min-width: 1536px) {
    .rover-img {
        transform: scale(1.8);
        transform-origin: bottom left;
    }
}