@import url(../../index.css);

.reserve-container {    
    background-color: var(--color-black-30);
    color: var(--primary-text-color);
    font-size: var(--font-size-xs);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 15px;
}

.reserve-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    gap: 5px;   
}

.reserve-info > h5, .reserve-info > span {
    display: flex;
}

.reserve-header {
    font-size: var(--font-size-xs);
    margin: 0;
}

.reserve-value {
    font-weight: 600;
}

.buttons-container {
    display: flex;
    align-items: center;
}

.btn {
    padding: 0.5rem;
    border: none;
    background: none;
}

.inc-icon, .dcr-icon {
    display: flex;
    justify-content: center;
    color: var(--primary-text-color);
}

.inc-icon:hover, .dcr-icon:hover {
    color: var(--color-gray-300)
}

/* xs */
/* @media (min-width: 425px) {} */

/* sm */
@media (min-width: 640px) {
    .reserve-container {  
        font-size: var(--font-size-sm);                           
    }  
    .reserve-header {
        font-size: var(--font-size-sm);        
    }  
}

/* md */
@media (min-width: 768px) {  
    .reserve-container {
        padding: .5rem;
        padding-top: .8rem;
    }  
}

/* lg */
@media (min-width: 1024px) {
    .reserve-container {
        font-size: var(--font-size-base);
        padding: 1em;        
    }
    .reserve-header {
        font-size: var(--font-size-base);        
    }
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
@media (min-width: 1536px) {
}