@import url(../index.css);

.home-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    overflow: hidden;
}

.description-container {
    font-size: var(--font-size-sm);
    color: var(--primary-text-color);
    padding-top: 4rem;
    background-image: url("/src/assets/mars-survival-index-back.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center;  */
}

.main-content {
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.container {
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem .5rem;
}

.image-overlay {
    background-color: var(--color-gray-800-30);
}

.main-title {
    text-transform: capitalize;
    font-size: var(--font-size-2xl);
    margin-bottom: 2rem;
}

.counter-content {
    display: flex;
    flex-direction: column;    
    gap: 2rem;    
}

.display-content {
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
}

.display-text {
    max-width: 45ch;
    margin-bottom: 1.5rem;
}

.cards-container {
    position: relative;
}

.card-group {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 15px;
    padding: 1em 0;
    align-items: stretch;
}

.card-group::-webkit-scrollbar {
    display: none;
  }

.pre-btn, .nxt-btn {
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 8;    
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn:hover, .nxt-btn:hover {
    color: var(--color-gray-500);
}

/* xs */
@media (min-width: 425px) {
    .display-text {
        max-width: 60ch;       
    }
}

/* sm */
@media (min-width: 640px) {
    .main-content {
        font-size: var(--font-size-sm); 
                     
    }    
    .container {        
        max-width: 640px;
    }
    .main-title{
        font-size: var(--font-size-3xl);
    }
}

/* md */
@media (min-width: 768px) {
    .main-content {
        font-size: var(--font-size-base);
        gap: 1rem;       
    } 

    .counter-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .main-content {
        font-size: var(--font-size-lg);        
    } 
    .container {
        max-width: 1024px;        
    }
    .main-title{
        font-size: var(--font-size-4xl);
    }
    .display-text {
        margin-bottom: 2rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .main-content {
        font-size: var(--font-size-xl);        
    }
    .container {
        max-width: 1280px;
    }
    .main-title{
        font-size: var(--font-size-5xl);
    }
    .display-text {
        margin-bottom: 2.5rem;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .main-content {
        font-size: var(--font-size-2xl);        
    } 
    .container {
        max-width: 1536px;
    }
}