@import url("../../index.css");

.header {    
    display: flex;
    justify-content: flex-end;    
    color: var(--primary-text-color);
    font-size: var(--font-size-xs);
    text-transform: lowercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: end;    
}

.survival-nission, .space-quiz {
    position: relative;
}

.nav-tooltip {
    background-color: var(--color-gray-200);
    opacity: .8;
    color: var(--primary-text-color-d);
    padding: .5rem 1rem;
    position: absolute;
    font-size: var(--font-size-xs);
    border-radius: 1rem;
    top: 2rem;
    right: 0;
}

.menu-symbol {
    color: var(--primary-text-color);
    pointer-events: visible;
    cursor: pointer;
}

.menu-symbol:hover {  
    color: var(--hover-text-color);  
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: end;
    list-style-type: none;        
    margin: 0;
    padding: 0;     
}

li {    
    position: relative;
    margin: 0;
    padding: .5em;
    padding-right: 0;
}

.link-style {    
    color: var(--primary-text-color);
    text-decoration: none;
    outline: none;
    text-align: center;
}

.link-style:hover {
    color: var(--hover-text-color);
}

.disabled {
    pointer-events: none;
    color: var(--color-gray-300);
    opacity: 80%;
}

.active {
    border-left: 3px solid var(--primary-text-color);  
}

.hidden {
    display: none;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .header {
        font-size: var(--font-size-sm);
        justify-content: center;  
        margin-bottom: 2rem;      
    }
    .menu-symbol {
        display: none;
    }

    li {
        margin: 0 .5em;
        padding-right: .5em;
    }

    .nav-list {
        display: flex;
        flex-direction: row; 
        align-items: start;                                        
    }
    
    .active {        
        border-left: none;
        border-bottom: 3px solid var(--primary-text-color);  
    }
}

/* md */
@media (min-width: 768px) {
    .header {
        font-size: var(--font-size-base);        
    }
}

/* lg */
@media (min-width: 1024px) {
    .header {
        font-size: var(--font-size-lg);        
    }
}

/* xl */
@media (min-width: 1280px) {
    .header {
        font-size: var(--font-size-xl);        
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .header {
        font-size: var(--font-size-2xl);        
    } 
}