.reserves-container {
    order: 1;
    width: 100%;    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

/* @media (min-width: 425px) {} */

/* sm */
@media (min-width: 640px) {   
}

/* md */
@media (min-width: 768px) {
    .reserves-container {
        order: 0;  
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        width: auto;                   
    }
    
}

/* lg */
@media (min-width: 1024px) {
    .reserves-container {         
    }
}

/* xl */
@media (min-width: 1280px) {
    .reserves-container {      
    } 
}

/* 2xl */
@media (min-width: 1536px) {
    .reserves-container {       
    } 
}